{% extends 'core/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-200 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Anunțurile mele</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 mx-auto gap-3">
            {% for item in items %}
                <div class="flex items-center bg-white rounded-xl p-6 relative">
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="flex-shrink-0 ml-4">
                            <img class="h-16 w-16 object-cover rounded-xl" src="{{ item.image.url }}" alt="{{ item.name }}">
                        </div>

                        <div class="ml-4">
                            <h2 class="text-sm md:text-2xl capitalize mt-2 mb-2">{{ item.name }}</h2>
                            <p class="text-xs md:text-[17px] text-gray-500 mb-2"><span class="font-bold">Preț:</span> {{ item.price }} Lei</p>
                            <p class="text-xs md:text-[17px] text-gray-500"><span class="font-bold">Adăugat:</span> {{ item.created_at }}</p>
                            <p class="mt-2 text-xs md:text-[17px] text-gray-500"><span class="font-bold">Anunț vizualizat de:</span> {{ item.access_count }} ori</p>
                        </div>
                    </a>

                    <div class="absolute top-0 right-0 mt-4 mr-4 flex space-x-2">
                        <a href="{% url 'item:edit' item.id %}" class="text-blue-500 hover:text-blue-700">Modifică</a>
                        <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="text-red-500 hover:text-red-700" type="button">
                            Șterge
                        </button>
    
                        <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                            <div class="relative p-4 w-full max-w-md max-h-full">
                                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                    <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                    <div class="p-4 md:p-5 text-center">
                                        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                        </svg>
                                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Ești sigur că vrei să ștergi anunțul?</h3>
                                        <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                                            <a href="{% url 'item:delete' item.id %}">Da, sunt sigur</a>
                                        </button>
                                        <button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Nu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute bottom-0 right-0 mt-4 mr-4 flex space-x-2">
                        <p class="text-xs md:text-sm">Categorie: {{item.category}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}